*.stamp
.dirstamp
/confdefs.h
/config.h
/conftest.cpp
/stamp-h1
/suppressions.valgrind
doc/doxygen/Doxyfile
doc/reference/version.xml
gl/alloca.h
gl/arg-nonnull.h
gl/arpa/
gl/c++defs.h
gl/dirent.h
gl/getopt.h
gl/limits.h
gl/math.h
gl/netdb.h
gl/signal.h
gl/stdalign.h
gl/stddef.h
gl/stdint.h
gl/stdio.h
gl/stdlib.h
gl/string.h
gl/strings.h
gl/sys/
gl/sysexits.h
gl/tests/arg-nonnull.h
gl/tests/c++defs.h
gl/tests/ctype.h
gl/tests/fcntl.h
gl/tests/inttypes.h
gl/tests/sys/
gl/tests/warn-on-use.h
gl/time.h
gl/unistd.h
gl/warn-on-use.h
gl/wchar.h
guile/pre-inst-guile
lib/gnutls.pc
lib/includes/gnutls/gnutls.h
lib/unistring/limits.h
lib/unistring/stdint.h
lib/unistring/sys/
lib/unistring/unictype.h
lib/unistring/uninorm.h
lib/unistring/unistr.h
lib/unistring/unitypes.h
lib/unistring/unused-parameter.h
libdane/gnutls-dane.pc
po/Makefile.in
po/POTFILES
src/certtool
src/danetool
src/gl/alloca.h
src/gl/arg-nonnull.h
src/gl/arpa/
src/gl/c++defs.h
src/gl/limits.h
src/gl/netdb.h
src/gl/signal.h
src/gl/stdalign.h
src/gl/stddef.h
src/gl/stdint.h
src/gl/stdio.h
src/gl/stdlib.h
src/gl/string.h
src/gl/sys/
src/gl/time.h
src/gl/unistd.h
src/gl/warn-on-use.h
src/gl/wchar.h
src/gnutls-cli
src/gnutls-cli-debug
src/gnutls-serv
src/ocsptool
src/psktool
src/srptool
